<div style="height: 44px; background:#387ef5; color: white; display: flex; align-items: center;">
    <span style="margin-left: auto;">
        Nouveau module
    </span>
    <span ng-click="createModuleModal.close();" style="margin-left: auto; padding-right: 10px;">
        Annuler
    </span>
</div>
<div class="modal-body">
    <form name="$parent.createModuleForm">
        <div style="color: red" ng-show="createModuleError != undefined">
            {{createModuleError}}
        </div>
        <div class="form-group">
            <label>Nom du module *</label>
            <input ng-model="$parent.newModuleName" type="text" class="form-control" placeholder="Nom du module">
        </div>
        <div class="form-group">
            <label>Image du module</label>
            <br/>
            <div class="btn" ngf-select ng-model="$parent.newModuleImg" name="newModuleImg" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="20MB" style="background: #387ef5; color: white" >Select</div>
            <span>{{$parent.newModuleImg == undefined ? "image par défaut" : $parent.newModuleImg.name}}</span>
        </div>
        <div style="width: 100%; text-align: center;">
            <button class="btn" type="submit" ng-click="createModule();" style="background:#387ef5; color: white; width: 80%;">Créer le module</button>
        </div>
    </form>
</div>