<div class="resetPasswordPage">
    <div ng-show="resetPasswordSuccess == undefined">
        <div class="form">
            <div ng-show="resetPasswordError != undefined" style="color: red";>
                {{resetPasswordError}}
            </div>
            <div class="form-group">
                <label>Nouveau mot de passe:</label>
                <input ng-model="newPassword" type="password" class="form-control" placeholder="Nouveau mot de passe">
            </div>
            <div class="form-group">
                <label>Confirmartion du mot de passe:</label>
                <input ng-model="confirmNewPassword" type="password" class="form-control" placeholder="Confirmation du mot de passe">
            </div>
        </div>
        <div style="width: 100%; text-align: center;">
            <button ng-click="doPasswordChange();" class="btn" style="background:#387ef5; color: white; width: 80%;">Changer mon mot de passe</button>
        </div>
    </div>

    <div ng-show="resetPasswordSuccess != undefined">
        {{resetPasswordSuccess}}
    </div>
</div>
